.row
  - recipes["items"].each do |recipe|
    - receipt_id = recipe["sys"]["id"]
    .container.recipe.my-5.float-left.w-50.d-flex.justify-content-center.border.rounded-circle.col-md-6.col-12
      %a{href: "/recipes/#{receipt_id}"}
        %span.recipe-title.position-relative.text-center
          = recipe["fields"]["title"]
        %img.w-100.rounded-circle{src: "#{image_url(recipe["fields"]["photo"]["sys"]["id"])}"}

