!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %title Cookbook
    %link{href: "/css/style.css", rel: "stylesheet" }/
    %link{href: "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk", crossorigin: "anonymous"}/
  %body.container-fluid.p-0
    %nav.navbar.bg-white.position-fixed.w-100
      %a.title{href: "/"}
        %span COOKBOOK
    .container-fluid.pt-5
      = yield
